*{
  background-color:var(--negro);
  color:var(--blanco);
  
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    display:flex;
    flex-direction: column;
    gap:2em;
    
  }
  
  h2 {
    text-align: center;
    font-size:35px;
  }
  p{font-size: 15px;}
  .form {
    display: flex;
    flex-direction: column;
    
    gap: 15px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
   
  .inputGroup label {
    font-weight: bold;
  }
  
  .inputGroup input,
  .inputGroup textarea,
  .inputGroup select {
    padding: 8px;
    font-size: 16px;
    border:var(--gris) solid 1px;
    border-radius: 10px;
    color:var(--gris-claro);
    
  }

  input[type="text"]:focus,
  input[type="url"]:focus,
  textarea:focus,
  select:focus {
    border-color: var(--azul); /* Cambia a naranja al enfocar */
  }
  
  .actions {
    display: flex;
    justify-content:space-evenly;
  }
  
  .guardar {
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 10px; /* Esquinas redondeadas */
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  }
  .guardar:hover {
    transform: scale(1.1); /* Se agranda al pasar el mouse */
    background-color: #007bff; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco */
  }
  
  .limpiar {
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Esquinas redondeadas */
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .limpiar:hover {
    transform: scale(1.1); /* Se agranda al pasar el mouse */
    background-color: white; /* Fondo blanco al pasar el mouse */
    color: black; /* Texto negro */
  }

  .error{
    color:red;
  }